/* Game.js */
.game-list ul {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  transition: max-height 1s;
}

.game-list ul li button {
  margin: 2px;
  padding: 4px 10px;
  border: none;
}

.game-list ul li button:hover {
  background-color: #000;
  color: #fff;
}

.game-list .list-open_btn {
  text-align: center;
}

/* GameMain.js */
.game-main {
  margin-top: 56px;
}

/* GameInfo.js */
.game-img__cover {
  width: 100%;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-detail__header {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.game-detail__icon {
  min-width: 66px;
  height: 66px;
  background-size: 100%;
  border-radius: 14px;
}

.game-detail__title {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.title-kr {
  font-size: 20px;
  font-weight: 700;
}

.other-lang {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.other-lang div {
  margin-right: 6px;
}


.app-info__section {
  padding: 10px 16px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.app-info__section > div { padding: 4px 0; }

.app-info__key { color: #909396; margin-right: 10px; }
.app-info__data { color: #000; }

.app-info__pub {
  display: flex;
  align-items: center;
}

.app-info__pub > div {
  display: flex;
  flex-direction: column;
}

.app-info__pub-detail { padding: 2px 0; }

.company-detail__link {

}


.game-info__section { height: 1000px; }