/* Game.js */
.game-list ul {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  transition: max-height 1s;
}

.game-list ul li button {
  margin: 2px;
  padding: 4px 10px;
  border: none;
}

.game-list ul li button:hover {
  background-color: #000;
  color: #fff;
}

.game-list .list-open_btn {
  text-align: center;
}

/* GameMain.js */
.game-main {
  margin-top: 56px;
}

/* GameInfo.js */
.game-img__cover {
  width: 100%;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-detail__header {
  padding: 10px 16px;
  display: flex;
  align-items: center;
}

.game-detail__icon {
  width: 66px;
  height: 66px;
  background-size: 100%;
  border-radius: 14px;
}

.game-detail__title {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.title-kr {
  font-size: 20px;
  font-weight: 700;
}

.other-lang {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.other-lang div {
  margin-right: 6px;
}