/* Game.js */
.game-list ul {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  transition: max-height 1s;
}

.game-list ul li button {
  margin: 2px;
  padding: 4px 10px;
  border: none;
}

.game-list ul li button:hover {
  background-color: #000;
  color: #fff;
}

.game-list .list-open_btn {
  text-align: center;
}

/* GameMain.js */
.game-main {
  margin-top: 56px;
}

/* GameInfo.js */
.game-info .game-img_main {
  width: 100%;
  aspect-ratio: 16/9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-info .game-info__inner {
  padding: 16px;
}

.game-info .game-info__inner .game-icon {
  width: 100px;
  height: 100px;
  background-size: 100%;
  margin: 0 auto;
  border-radius: 26px;
}