/* Header */
header {
  width: 100%;
  max-width: 500px;
  background-color: #00000000;
  color: #000;
  position: fixed;
  top: 0;
}

.header_inner {
  width: 100%;
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
}

.header_inner .header_inner-right {
  display: flex;
}

.header_inner .header_inner-left .header_btn,
.header_inner .header_inner-right .header_btn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  background-color: #0000009f;
}

.header_inner .header_inner-left .back-btn { margin-left: 16px; }
.header_inner .header_inner-right .option-btn { margin-right: 12px; }
.header_inner .header_inner-right .search-btn { margin-right: 16px; }

.header_inner .header_btn svg {
  fill: #fff;
}

/* Footer */
footer {
  height: 100px;
  background-color: #ccc;
}